<header class="header">
    <div class="header_logo">
        <a href="index.html"><img class="header_logo" alt="Logo" src="../../assets/Logo.png"/></a>
    </div>
    <div class="header_login">
        <a href="login.html"><img src="https://img.icons8.com/color/48/000000/nails.png" alt="login">
            <li>Iniciar Sesión</li>
        </a>
    </div>
    <div class="header_help">
        <a href="ayuda.html"><img src="https://img.icons8.com/fluent/48/000000/question-mark.png"/></a>
    </div>    
</header>
